@use "reset";
@use "fonts";

@mixin mainButton() {
    width: 380px;
    height: 50px;
    background: #4ebd09;
    border-radius: 6px;
    border: none;
    padding: 0px 12px;
    cursor: pointer;
    @include fonts.b1();
    transition: 0.3s all;
    overflow: hidden;
    box-shadow: none;
    &:hover {
        transform: translateY(10%);
    }
}

* {
    box-sizing: border-box;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0px 25px;
}
.row {
    display: flex;
}
body {
    color: #0d1a30;
}

// Desktop
.main {
    .h2-header {
        @include fonts.h2();
        margin-top: 104px;
        margin-bottom: 48px;
        text-align: center;
    }
    .br {
        display: none;
    }
    .introduce-section {
        background: #0d1a30;
        color: #ffffff;
        padding-top: 24px;
        padding-bottom: 65px;
        .logo {
            margin-bottom: 64px;
            > img {
                height: 80px;
            }
        }
        .introduce-wrapper {
            align-items: center;
            gap: 42px;
            .introduce-content {
                > p:nth-child(1) {
                    @include fonts.p2();
                }
                > p:nth-child(2) {
                    @include fonts.h1();
                    margin-bottom: 48px;
                }
                > p:nth-child(3),
                > p:nth-child(4) {
                    @include fonts.p2();
                }
                > p:nth-child(4) {
                    margin-bottom: 48px;
                }
                > p:nth-child(5) {
                    @include fonts.p2();
                    color: #4ebd09;
                    margin-bottom: 48px;
                }
                button {
                    @include mainButton();
                    color: #0d1a30;
                }
            }
            .introduce-img {
                width: 65%;
                > img {
                    width: 460px;
                    // height: 100%;
                }
            }
        }
    }
    .benefit-section {
        text-align: center;
        .benefit-wrapper {
            gap: 24px;
            .benefit-item {
                width: 410px;
                padding: 0px 16px;
                > img {
                    margin-bottom: 12px;
                }
                > p:nth-child(2) {
                    @include fonts.t1();
                    margin-bottom: 25px;
                }
                > p:nth-child(3) {
                    @include fonts.t2();
                }
            }
        }
    }
    .who-is-section {
        .who-is-header {
            text-align: center;
        }
        .who-is-wrapper {
            gap: 32px;
            .who-is-text {
                width: 50%;
                > p:nth-child(1) {
                    @include fonts.t2();
                    margin-bottom: 24px;
                }
                > p:nth-child(2) {
                    @include fonts.t2();
                    margin-bottom: 24px;
                }
            }
            .who-is-scales {
                width: 50%;
                .scale-item {
                    .scale-row {
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 16px;
                        .scale-text {
                            > p:nth-child(1) {
                                @include fonts.p2();
                            }
                            > p:nth-child(2) {
                                @include fonts.t4();
                            }
                        }
                        .scale-salary {
                            @include fonts.p1();
                        }
                    }
                    .scale-parent {
                        position: relative;
                        width: 100%;
                        height: 24px;
                        border-radius: 6px;
                        background: linear-gradient(
                            147.71deg,
                            #f0f5e0 20.89%,
                            #e0f5e3 80.64%
                        );
                        margin-bottom: 24px;
                        .scale-children {
                            position: absolute;
                            height: 100%;
                            background: #4ebd09;
                            border-radius: 6px;
                            transition: 1s all;
                        }
                        .scale-children-1.hide {
                            width: 0%;
                        }
                        .scale-children-1.show {
                            width: 22%;
                        }
                        .scale-children-2.hide {
                            width: 0%;
                        }
                        .scale-children-2.show {
                            width: 68%;
                        }
                        .scale-children-3.hide {
                            width: 0%;
                        }
                        .scale-children-3.show {
                            width: 100%;
                        }
                    }
                }
            }
            .who-is-tablet-content {
                display: none;
            }
        }
        .who-is-tablet-text {
            @include fonts.t1();
            margin-bottom: 24px;
        }
        .who-is-tablet-btn {
            @include mainButton();
            color: #ffffff;
            // &:hover {
            //     background: #43a00a;
            // }
        }
    }
    .how-to-know-section {
        padding-bottom: 104px;
        .how-to-know-header {
            text-align: center;
        }
        .how-to-know-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            .how-to-know-item {
                .how-to-know-text {
                    @include fonts.t2();
                }
            }
        }
    }
    .check-img {
        min-width: 24px;
        height: 24px;
        background-image: url(images/check-circle.svg);
        margin-right: 8px;
    }
    .start-in-it {
        background: #0d1a30;
        color: #ffffff;
        text-align: center;
        @include fonts.h2();
        padding: 48px 0px;
    }
    .video-section {
        .video {
            width: 50%;
            height: 354px;
            background: #8090ab;
            border-radius: 12px;
            margin-bottom: 50px;
            .video-youtube {
                border-radius: 12px;
            }
        }
        .video-section-wrapper {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 32px;
            text-align: center;
        }
        .video-section-text {
            margin: 0 auto;
            width: fit-content;
            .video-section-item {
                @include fonts.t2();
                margin-bottom: 24px;
            }
        }
    }
    .companies-section {
        color: white;
        background: #0d1a30;
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
        .companies-section-header {
            @include fonts.h2();
            margin-bottom: 50px;
        }
        .companies-slider,
        .companies-tablet-slider {
            .companies-section-item {
                width: 184px;
                height: 184px;
                border: 4px solid #333142;
                border-radius: 12px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 85%;
                margin-right: 17px;
            }
            .company-1 {
                background-image: url(images/companies-logo-1.svg);
            }
            .company-2 {
                background-image: url(images/companies-logo-2.svg);
            }
            .company-3 {
                background-image: url(images/companies-logo-3.svg);
            }
            .company-4 {
                background-image: url(images/companies-logo-4.svg);
            }
            .company-5 {
                background-image: url(images/companies-logo-5.svg);
            }
            .company-6 {
                background-image: url(images/companies-logo-6.svg);
            }
            .company-7 {
                background-image: url(images/companies-logo-7.svg);
            }
            .company-8 {
                background-image: url(images/companies-logo-8.svg);
            }
            .company-9 {
                background-image: url(images/companies-logo-9.svg);
            }
            .company-10 {
                background-image: url(images/companies-logo-10.svg);
            }
            .company-11 {
                background-image: url(images/companies-logo-11.svg);
            }
            .company-12 {
                background-image: url(images/companies-logo-12.svg);
            }
            .company-13 {
                background-image: url(images/companies-logo-13.svg);
            }
            .company-14 {
                background-image: url(images/companies-logo-14.svg);
            }
            .company-15 {
                background-image: url(images/companies-logo-15.svg);
            }
            .company-16 {
                background-image: url(images/companies-logo-16.svg);
            }
            .company-17 {
                background-image: url(images/companies-logo-17.svg);
            }
            .company-18 {
                background-image: url(images/companies-logo-18.svg);
            }
            .company-19 {
                background-image: url(images/companies-logo-19.svg);
            }
            .company-20 {
                background-image: url(images/companies-logo-20.svg);
            }
            .company-21 {
                background-image: url(images/companies-logo-21.svg);
            }
            .company-22 {
                background-image: url(images/companies-logo-22.svg);
            }
            .company-23 {
                background-image: url(images/companies-logo-23.svg);
            }
            .company-24 {
                background-image: url(images/companies-logo-24.svg);
            }
            .company-25 {
                background-image: url(images/companies-logo-25.svg);
            }
            .company-26 {
                background-image: url(images/companies-logo-26.svg);
            }
            .company-27 {
                background-image: url(images/companies-logo-27.svg);
            }
            .company-28 {
                background-image: url(images/companies-logo-28.svg);
            }
            .company-29 {
                background-image: url(images/companies-logo-29.svg);
            }
            .company-30 {
                background-image: url(images/companies-logo-30.svg);
            }
        }
        .companies-tablet-slider {
            display: none;
        }
    }
    .numbers-section {
        padding-bottom: 104px;
        .numbers-header {
            margin-left: 170px;
            margin-right: 170px;
        }
        .numbers-row {
            margin-bottom: 32px;
            .numbers-item {
                text-align: center;
                width: 330px;
                > p:nth-child(1) {
                    @include fonts.h1();
                    color: #4ebd09;
                }
                > p:nth-child(2) {
                    @include fonts.t4();
                }
            }
        }
        .numbers-comparison {
            padding: 48px 38px;
            background: linear-gradient(
                126.48deg,
                #ffe2d0 -25%,
                #fcf9e8 41.69%
            );
            border-radius: 12px;
            .numbers-comparison-item {
                justify-content: space-between;
                border-bottom: 1px solid #d9d9d9;
                > div {
                    margin: 22px 0px;
                    width: 25%;
                    text-align: center;
                }
                .numbers-comparison-text1 {
                    @include fonts.t1();
                }
                .numbers-comparsion-long-text {
                    margin: 10px 0px;
                }
                .numbers-comparison-text2 {
                    @include fonts.t2();
                }
                .numbers-check-img {
                    background-image: url(images/check.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .numbers-x-img {
                    background-image: url(images/x.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .numbers-comparison-item:first-child {
                border: none;
            }
        }
    }
    .sign-up-section {
        padding: 48px 0px;
        text-align: center;
        background: #0d1a30;
        button {
            @include mainButton();
            color: #0d1a30;
        }
    }
    .benefits-section {
        padding-bottom: 104px;
        .benefits-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            .benefits-item {
                @include fonts.t2();
            }
        }
        .benefits-footer {
            @include fonts.p2();
            text-align: center;
            margin-top: 32px;
        }
    }
    .form-section {
        background: #0d1a30;
        color: #ffffff;
        padding: 48px 0px;
        .form-section-wrapper {
            align-items: center;
            gap: 32px;
            .form-section-text {
                width: 50%;
                > p:nth-child(1) {
                    @include fonts.h2();
                    margin-bottom: 32px;
                }
                > p:nth-child(2) {
                    @include fonts.p2();
                    margin-bottom: 32px;
                }
                > p:nth-child(3) {
                    @include fonts.p2();
                    color: #4ebd09;
                }
            }
            .form {
                width: 50%;
                background: #ffffff;
                border-radius: 12px;
                padding: 32px;
                color: #0d1a30;
                .form-input {
                    flex-direction: column;
                    gap: 8px;
                    margin-bottom: 24px;
                    transition: 0.3s all;
                    label {
                        @include fonts.b2();
                    }
                    input {
                        @include fonts.t2();
                        border: 1px solid #0d1a30;
                        border-radius: 6px;
                        padding: 13px 16px;
                        caret-color: #4ebd09;
                        &:focus {
                            outline-color: #4ebd09;
                        }
                    }
                    &:focus-within {
                        color: #4ebd09;
                    }
                }
                button {
                    @include mainButton();
                    margin-top: 24px;
                    color: #ffffff;
                }
            }
        }
    }
    .review-section {
        padding-bottom: 48px;
        text-align: center;
        .slider-text {
            .slider-item {
                margin-right: 34px;
                .review-text-author {
                    @include fonts.t1();
                }
                .review-text-position {
                    text-align: left;
                    @include fonts.b2();
                }
                .video-wrapper {
                    .video {
                        width: 410px;
                        height: 224px;
                        background: #8090ab;
                        border-radius: 8px;
                        margin-bottom: 16px;
                        .video-review {
                            border-radius: 8px;
                        }
                    }
                }
                .review-wrapper {
                    gap: 24px;
                    width: 410px;
                    margin-top: 48px;
                    .review-avatar {
                        min-width: 85px;
                        height: 85px;
                        background-position: center;
                        background-size: contain;
                        border-radius: 50px;
                    }
                    .review-avatar-1 {
                        background-image: url(images/user-avatar-1.jpg);
                    }
                    .review-avatar-2 {
                        background-image: url(images/user-avatar-2.jpg);
                    }
                    .review-avatar-3 {
                        background-image: url(images/user-avatar-3.jpg);
                    }
                    .review-avatar-4 {
                        background-image: url(images/user-avatar-4.jpg);
                    }
                    .review-avatar-5 {
                        background-image: url(images/user-avatar-5.jpg);
                    }
                    .review-avatar-6 {
                        background-image: url(images/user-avatar-6.jpg);
                    }
                    .review-avatar-7 {
                        background-image: url(images/user-avatar-7.jpg);
                    }
                    .review-text {
                        text-align: left;
                        > p {
                            @include fonts.t4();
                            margin-bottom: 16px;
                        }
                    }
                }
                .fb-icon {
                    min-width: 20px;
                    height: 20px;
                    background-size: cover;
                    background-image: url(images/facebook.svg);
                    transition: 0.3s all;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .slick-dots {
                bottom: -45px;
            }
        }
        .author-and-fb-wrapper {
            margin-top: 15px;
            align-items: center;
            gap: 10px;
        }
        .review-section-btn {
            margin-top: 48px;
            @include mainButton();
            color: white;
        }
    }
}
.footer {
    padding: 48px 0px;
    background: #0d1a30;
    color: #ffffff;
    text-align: center;
    .footer-wrapper {
        justify-content: space-around;
        @include fonts.t4();
        margin-bottom: 32px;
    }
    .footer-btn {
        @include mainButton();
        margin-bottom: 32px;
    }
    .footer-buttons {
        button {
            width: 26px;
            height: 26px;
            border: none;
            margin-right: 12px;
            cursor: pointer;
            background: transparent;
            background-size: cover;
            transition: 0.3s all;
            &:hover {
                transform: scale(1.2);
            }
        }
        .facebook-btn {
            background-image: url(images/facebook.svg);
        }
        .linkedin-btn {
            background-image: url(images/linkedin.svg);
        }
        .instargam-btn {
            background-image: url(images/Instagram.svg);
        }
        .youtube-btn {
            background-image: url(images/Youtube.svg);
        }
    }
}

// Laptop
@media (max-width: 1200px) {
    .main {
        .benefit-section {
            .benefit-wrapper {
                .benefit-item {
                    padding: 0px 5px;
                }
            }
        }
        .numbers-section {
            .numbers-header {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

// Tablet
@media (max-width: 992px) {
    .container {
        padding: 0px 16px;
    }
    .main {
        .h2-header {
            @include fonts.h3();
            margin-top: 72px;
            margin-bottom: 32px;
        }
        .br {
            display: block;
        }
        .introduce-section {
            padding: 48px 0px;
            .logo {
                margin-bottom: 48px;
            }
            .introduce-wrapper {
                .introduce-content {
                    margin-right: 100px;
                    > p:nth-child(2) {
                        margin-bottom: 32px;
                    }
                    > p:nth-child(3) {
                        margin-bottom: 20px;
                    }
                    > p:nth-child(4) {
                        display: none;
                    }
                    > p:nth-child(4) {
                        margin-bottom: 32px;
                    }
                    > p:nth-child(5) {
                        margin-right: 0px;
                        margin-bottom: 32px;
                    }
                }
                .introduce-img {
                    display: none;
                }
            }
        }
        .benefit-section {
            .benefit-wrapper {
                flex-direction: column;
                align-items: center;
                gap: 32px;
                .benefit-item {
                    width: 450px;
                }
            }
        }
        .who-is-section {
            .who-is-wrapper {
                flex-direction: column;
                align-items: center;
                .who-is-text {
                    width: 100%;
                }
                .who-is-scales {
                    width: 100%;
                }
                .who-is-desktop-content {
                    display: none;
                }
                .who-is-tablet-content {
                    display: block;
                }
            }
        }
        .how-to-know-section {
            padding-bottom: 48px;
            .how-to-know-wrapper {
                grid-template-columns: 1fr;
            }
        }
        .video-section {
            .video-section-wrapper {
                flex-direction: column;
                gap: 24px;
                .video {
                    width: 100%;
                }
                .video-section-text {
                    width: 100%;
                }
            }
        }
        .companies-section {
            .companies-section-header {
                text-align: center;
                @include fonts.h3();
            }
            .companies-tablet-slider {
                display: block;
            }
            .companies-slider {
                display: none;
            }
        }
        .numbers-section {
            padding-bottom: 48px;
            .numbers-row {
                flex-direction: column;
                gap: 24px;
                align-items: center;
                .numbers-item {
                    width: 75%;
                }
            }
        }
        .benefits-section {
            padding-bottom: 48px;
            .benefits-wrapper {
                grid-template-columns: 1fr;
            }
            .benefits-footer {
                margin-top: 24px;
            }
        }
        .form-section {
            .form-section-wrapper {
                flex-direction: column;
                .form-section-text {
                    width: 100%;
                    .form-section-text-hide-tablet {
                        display: none;
                    }
                    > p:nth-child(1) {
                        @include fonts.p2();
                        margin-bottom: 32px;
                    }
                }
                .form {
                    width: 70%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
        .review-section {
            .slider-text {
                .slider-item {
                    .review-wrapper {
                        flex-direction: column;
                        .review-avatar {
                            width: 85px;
                        }
                        .review-text {
                            .fb-icon {
                                min-width: 40px;
                                height: 40px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        .footer-wrapper {
            flex-direction: column;
            gap: 32px;
        }
    }
}

// hide numbers-comparison
@media (max-width: 750px) {
    .main {
        .numbers-section {
            .numbers-row {
                margin-bottom: 0px;
            }
            .numbers-comparison {
                display: none;
            }
        }
    }
}

// Mobile
@media (max-width: 576px) {
    .main {
        .introduce-section {
            .introduce-wrapper {
                .introduce-content {
                    margin-right: 0px;
                    > p:nth-child(2) {
                        @include fonts.h2();
                        margin-bottom: 32px;
                    }
                    > p:nth-child(4) {
                        margin-bottom: 32px;
                    }
                    > p:nth-child(5) {
                        margin-right: 0px;
                        margin-bottom: 32px;
                    }
                    button {
                        @include fonts.b2();
                        width: 100%;
                    }
                }
            }
        }
        .benefit-section {
            .benefit-wrapper {
                .benefit-item {
                    padding: 0px 0px;
                }
                .benefit-item {
                    width: 100%;
                }
            }
        }
        .who-is-section {
            .who-is-wrapper {
                .who-is-text {
                    > p:nth-child(1) {
                        margin-bottom: 32px;
                    }
                    > p:nth-child(2) {
                        margin-bottom: 0;
                    }
                }
                .who-is-scales {
                    margin-bottom: -24px;
                }
                .who-is-tablet-text {
                    margin-bottom: 32px;
                }
                .who-is-tablet-btn {
                    width: 100%;
                    @include fonts.b2();
                }
            }
        }
        .start-in-it {
            @include fonts.p2();
        }
        .video-section {
            .video {
                height: 230px;
                .video-youtube {
                    border-radius: 12px;
                }
            }
        }
        .companies-section {
            padding-top: 48px;
            padding-bottom: 48px;
            margin-top: 0;
            margin-bottom: 0;
            .companies-section-header {
                margin-bottom: 48px;
            }
            .companies-slider {
                .companies-section-item {
                    width: 160px;
                    height: 160px;
                    margin-right: 10px;
                }
            }
        }
        .sign-up-section {
            button {
                width: 100%;
                @include fonts.b2();
            }
        }
        .benefits-section {
            .benefits-footer {
                text-align: left;
            }
        }
        .form-section {
            .form-section-wrapper {
                gap: 24px;
                .form {
                    width: 100%;
                    background: transparent;
                    color: #ffffff;
                    padding: 0px;
                    button {
                        @include fonts.b2();
                        color: #0d1a30;
                    }
                }
            }
        }
        .review-section {
            .review-section-header {
                padding: 0px 16px;
            }
            .slider-text {
                padding: 0px 16px;
                .slider-item {
                    margin-right: 16px;
                    .video-wrapper {
                        .video {
                            max-width: 310px;
                            height: 175px;
                        }
                    }
                    .review-wrapper {
                        max-width: 310px;
                    }
                }
            }
            .review-section-btn {
                width: 100%;
            }
        }
    }
    .footer {
        .footer-btn {
            width: 100%;
        }
        .footer-buttons {
            button {
                width: 40px;
                height: 40px;
            }
        }
    }
}
